project_id   = "mindblast-prod"
project_name = "Mindblast Production"

# Set to true only if Terraform should create a brand-new project.
create_project     = false
billing_account_id = "000000-000000-000000"
org_id             = null
folder_id          = null

region          = "us-central1"
hosting_site_id = "mindblast-prod"

create_github_actions_service_account = true
github_actions_service_account_id     = "mindblast-prod-gha"

